
@{
    ViewBag.Title = "Index";
    var comments = ViewBag.Comments;
}

<div class="comments" style="display: flex; flex-direction:column; align-items: center;">
    @foreach (var comment in comments)
    {
        <div style="display: flex; flex-direction:column; width: 80%; margin: 0 auto; border: 1px solid rgb(37,37,37); margin: 20px; padding: 10px; border-radius: 10px;">
            <h3 style="display: flex; width: 100%; margin: 1px;">
                @comment.User
            </h3>
            <h4 style="height: 50px; width: 100%;border: 1px solid rgb(37,37,37);">
                @comment.Text
            </h4>
        </div>
    }

</div>



<div style="display: flex; flex-direction:column;">
    <input id="user" style="width: 600px" placeholder="Введите Ваше имя" name="user" />
    <textarea id="text" style="width: 600px" placeholder="Введите комментарий" name="text"></textarea>
    <button id="btn" style="width: 200px;">Отправить комментарий</button>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/script.js"></script>
